.discover {
    text-align: center;
    padding: 20px;
}

.discover h1 {
    margin-bottom: 20px;
}

.discover .list-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.discover .list-container div {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
