footer {
    background-color: #e23618;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

footer p {
    margin: 0;
}

footer:hover {
    background-color: #cc3215;
}
