header {
    background-color: #282c34;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    width: 96.9%;
    z-index: 1000; /* Ensures header stays on top */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adds a slight shadow */
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #20232a;
}

header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

nav a:hover {
    color: #61dafb; 
}

nav button {
    background-color: #61dafb;
    color: #282c34;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
}

nav button:hover {
    background-color: #21a1f1;
}


@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }

    nav a {
        margin: 10px 0;
    }

    nav button {
        margin-top: 10px;
    }
}
