.movies {
    text-align: center;
    padding: 20px;
}

.movies h2 {
    margin-bottom: 20px;
}

.movies ul {
    list-style-type: none;
    padding: 0;
}

.movies li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.movies li:last-child {
    border-bottom: none;
}

.movies .title {
    font-weight: bold;
}

.movies .actions button {
    background-color: #28a745;
}

.movies .actions button:hover {
    background-color: #218838;
}
